/* Basic layout styling */
.row {
    margin-top: 1em; /* Add top margin for better spacing between elements */
}

h3 {
    padding-top: 1em;
    margin-bottom: 0.5em; /* Optional, adds some space after the header */
    font-size: 1.25em; /* Optional, increases font size of h3 */
}

/* Button styling */
.submitbutton {
    margin-top: 1em;
    background-color: #007BFF; /* Example blue background */
    color: white; /* White text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding for better button size */
    font-size: 1em; /* Increase font size for better readability */
    cursor: pointer; /* Pointer cursor to indicate it's clickable */
    border-radius: 5px; /* Rounded corners for the button */
}

/* Regular button styling */
button {
    margin-top: 2px;
    padding: 5px 10px; /* Adjust button size */
    background-color: #f1f1f1; /* Light background color */
    border: 1px solid #ccc; /* Border color */
    cursor: pointer; /* Pointer cursor */
    border-radius: 3px; /* Rounded corners for consistency */
}

button:hover {
    background-color: #e0e0e0; /* Light gray hover effect */
}
