<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload to S3</title>
    <link rel="stylesheet" href="static/stylesheets/main.css">
</head>
<body>
    <h1>Upload a File to S3</h1>
    <button id="generate-s3-token-btn">Generate Pre-Signed URL</button>

    <div id="s3-url"></div>

    <script src="static/scripts/common.js"></script>
    <script>
        // Function to fetch pre-signed URL
        document.getElementById("generate-s3-token-btn").addEventListener("click", function () {
            fetch("/generate-s3-token")
                .then(response => response.json())
                .then(data => {
                    console.log("Pre-signed URL: ", data.url);
                    document.getElementById("s3-url").innerText = "Pre-Signed URL: " + data.url;
                })
                .catch(error => {
                    console.error("Error fetching the pre-signed URL:", error);
                });
        });
    </script>
</body>
</html>
